<%- include('partials/_header') %>

<h1>TIPOS DE CINE</h1>

<div class="container">
    <div class="row">

        <div class="col-md-8">
            
            <table class="table table-sm table-bordered table-hover">
                
                <thead>
                    <tr>
                        <th>n°</th>
                        <th>Tipo</th>
                        <th>Eliminar</th>
                        <th>Actualizar</th>
                    </tr>
                </thead>

                <tbody>
                  <% if (data) { %>
                    <% for ( var i = 0; i < data.length; i++ ) { %>
                        <tr>
                            <td><%= ( i + 1 )%></td>
                            <td><%= data[i].TipoCine %></td>
                            <td>
                                <a href="/delete-tipo/<%= data[i].idTipoCine %>" class="btn btn-danger"> DELETE </a>
                            </td>
                            <td>
                                <a href="/update-tipo/<%= data[i].idTipoCine %>" class="btn btn-info"> UPDATE </a>
                            </td>
                        </tr>
                    <% } %>     
                  <% } %>  
                </tbody>

            </table>
            
        </div>
    
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">

                    <form action="/add-tipo" method="post">
        
                        <div class="form-group">
                            <input type="text" name="TipoCine" class="form-control" placeholder="Tipo de Cine">
                        </div>

                        <button type="submit" class="btn btn-primary"> Save </button>
        
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>

<%- include('partials/_footer') %>